<mat-toolbar>
  <mat-toolbar-row>
    <mat-form-field>
      <input matInput type="text" placeholder="Search..." [(ngModel)]="search" (keyup)="search$.next($event.target.value)" />
      <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''; search$.next('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-radio-group (change)="onChangeStatus($event)" [(ngModel)]="status">
      <mat-radio-button [value]="2">All</mat-radio-button>
      <mat-radio-button [value]="0">Undone</mat-radio-button>
    </mat-radio-group>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list role="list" *ngIf="todoList?.items?.length">
  <mat-list-item role="listitem" *ngFor="let todo of filteredTodos">
    <span mat-line [style.text-decoration]="todo.status == todoItemStatusEnum.DONE ? 'line-through' : null">{{todo.title}}</span>
    <mat-checkbox *ngIf="todo.status == todoItemStatusEnum.UNDONE" (change)="markTodoAsDone(todo.id)">
    </mat-checkbox>
    <button mat-button matSuffix mat-icon-button (click)="deleteTodo(todo.id)">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>


<mat-form-field>
  <input matInput placeholder="Add todo..." [(ngModel)]="todoTitle" (keyup.enter)="addTodo($event.target.value)">
</mat-form-field>
