<mat-grid-list cols="2" rowHeight="800px" class="grid">
  <mat-grid-tile>
    <mat-card>
      <mat-card-content *ngIf="todoLists?.length">
        <mat-nav-list>
          <mat-list-item *ngFor="let todoList of todoLists">
            <a matLine [style.text-decoration]="todoList.id == currentTodoListId ? 'underline' : null" (click)="currentTodoListId = todoList.id"
              routerLink="/todolists/{{todoList.id}}" routerLinkActive="active">{{todoList.title}} ({{todoList.doneAll}})</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
      <mat-card-actions>
        <mat-form-field>
          <input matInput placeholder="New list..." [formControl]="todoListCtrl">
        </mat-form-field>
        <button mat-button (click)="addTodoList()">
          <mat-icon>add</mat-icon>Create
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
